<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<form action="#" method="post">
    姓名：<input type="text" name="name"/>
    年龄：<input type="text" name="age"/>
    <input type="submit" value="提交"/>
</form>
</body>
</html>