<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>班级说说-登录</title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <style>
        label{
            display: inline-block;
            min-width: 100px;
            text-align: right;
        }
        .form-group input{
            display: inline-block;
            width: 300px;
        }
        #submit_btn{
            margin: 0 auto;
            display: block;
        }
    </style>
</head>
<body>
<% include header.ejs %>

<div>
    <% if(login==1){ %>
    <div class="container">
        <h1>欢迎登录班级说说！</h1>
        <br/>
        <br/>
        <h5>添加留言：</h5>
        <form>
            <div class="form-group">
                <label for="tip_title">标题:</label>
                <input type="email" class="form-control" id="tip_title">
            </div>
            <div class="form-group">
                <label style="vertical-align: top;">内容:</label>
                <textarea id="tip_content" cols="30" rows="10" style="resize:none"></textarea>
            </div>
            <button type="button" class="btn btn-default" id="btn_mess_submit">提交</button>
        </form>
        <br/>
        <br/>
        <h2>我发表的说说</h2>
        <ul>
            <% for(var i=0;i<data.length;i++){ %>
            <li class="form-group" style="max-width: 500px">
                <label for="">用户名：<%= data[i].name %></label>
                <div>
                    <span>标题：<%= data[i].tite %></span>
                    <div>内容：<%= data[i].content %></div>
                    <div>时间：<%= data[i].dataTime %></div>
                </div>
            </li>
            <% } %>
        </ul>
    </div>
    <% }else { %>
    <div class="container" style="padding: 0 300px">
        <div class="form-group" style="max-width: 500px">
            <label for="">用户名：</label>
            <input type="text" class="form-control" id="name">
        </div>
        <div class="form-group" style="max-width: 500px">
            <label for="">密码：</label>
            <input type="text" class="form-control" id="pass">
        </div>
        <button type="submit" class="btn btn-default" id="login_btn">登录</button>
    </div>
    <% } %>
</div>
</body>
</html>
<script>
    $(function(){
        //提交留言
        $('#btn_mess_submit').on('click',function(){
            $.post('/referMess',{
                title:$('#tip_title').val(),
                content:$('#tip_content').val()
            },function(res){
                console.log(res);
                if(res.retcode==1){
                    alert('添加成功')
                    location.href='/'
                }
            })
        })
    })
</script>















